/*
 * Styles for small RNA plugin
 */

/* CHECKBOXES */
div#smrna-filter-dialog-sizes div.dijit.dijitReset.dijitInline.dijitCheckBox{
    margin-top: 1px;
}

tr.smrna-select-blue span.dijitInline.dijitIcon.dijitMenuItemIcon.dijitCheckedMenuItemIcon,
tr.smrna-select-blue img.dijitCheckedMenuItemIcon,
div.dijit.dijitReset.dijitInline.smrna-select-blue.dijitCheckBox {
    background-image: url("../img/checkmark-blue.png");
}

tr.smrna-select-green span.dijitInline.dijitIcon.dijitMenuItemIcon.dijitCheckedMenuItemIcon,
tr.smrna-select-green img.dijitCheckedMenuItemIcon,
div.dijit.dijitReset.dijitInline.smrna-select-green.dijitCheckBox{
    background-image: url("../img/checkmark-green.png");
}

tr.smrna-select-orange span.dijitInline.dijitIcon.dijitMenuItemIcon.dijitCheckedMenuItemIcon,
tr.smrna-select-orange img.dijitCheckedMenuItemIcon,
div.dijit.dijitReset.dijitInline.smrna-select-orange.dijitCheckBox{
    background-image: url("../img/checkmark-orange.png");
}

tr.smrna-select-red span.dijitInline.dijitIcon.dijitMenuItemIcon.dijitCheckedMenuItemIcon,
tr.smrna-select-red img.dijitCheckedMenuItemIcon,
div.dijit.dijitReset.dijitInline.smrna-select-red.dijitCheckBox{
    background-image: url("../img/checkmark-red.png");
}

tr.smrna-select-purple span.dijitInline.dijitIcon.dijitMenuItemIcon.dijitCheckedMenuItemIcon,
tr.smrna-select-purple img.dijitCheckedMenuItemIcon,
div.dijit.dijitReset.dijitInline.smrna-select-purple.dijitCheckBox{
    background-image: url("../img/checkmark-purple.png");
}

tr.smrna-select-yellow span.dijitInline.dijitIcon.dijitMenuItemIcon.dijitCheckedMenuItemIcon,
tr.smrna-select-yellow img.dijitCheckedMenuItemIcon,
div.dijit.dijitReset.dijitInline.smrna-select-yellow.dijitCheckBox{
    background-image: url("../img/checkmark-yellow.png");
}

tr.smrna-select-gray span.dijitInline.dijitIcon.dijitMenuItemIcon.dijitCheckedMenuItemIcon,
tr.smrna-select-gray img.dijitCheckedMenuItemIcon,
div.dijit.dijitReset.dijitInline.smrna-select-gray.dijitCheckBox{
    background-image: url("../img/checkmark-gray.png");
}

/* TOOLBAR BUTTON AND DIALOG */
#smrna-filter-btn{
    height:17px;
    width: 17px;
    background-image: url("../img/smrna-filter.png");
    background-repeat: no-repeat;
    background-position: center center;
}

#smrna-filter-dialog-sizes{
    float:left;
    padding-right:10px;
}
#smrna-filter-dialog-others{
    float:right;
    padding-left:5px;
}

.smrna-filter-dialog-column h3{
    margin: 2px 0px;
}
#smrna-filter-dialog-img{
    padding-right:2px;
    vertical-align: middle;
}

/* HEIGHT EXCEEDED */
div.block.height_overflow .smrna_height_overflow_message_top,
div.block.height_overflow .smrna_height_overflow_message_bottom
{
    position: absolute;
    color: rgb(77,77,77);
    text-shadow: white 0px 0px 1px;
    white-space: nowrap;
    width: 100%;
    font-weight: bold;
    text-align: center;
    z-index: 2000;
}
div.block.height_overflow .smrna_height_overflow_message_bottom{
    border-bottom: 1.5px solid rgb(77,77,77);
}
div.block.height_overflow .smrna_height_overflow_message_top{
    border-top: 1.5px solid rgb(77,77,77);
}

/* STYLES FOR HTML TYPE FEATURES */
.smrna-alignment{
  /* shouldn't need anything at the moment */
}

.smrna-21{
  /* blue */
  background: #3E98AF;
  border: solid 0px #3E98AF;
}
.smrna-22{
  /* green */
  background: #8BC240;
  border: solid 0px #8BC240;
}
.smrna-23{
  /* purple */
  background: #A55EA4;
  border: solid 0px #A55EA4;
}
.smrna-24{
  /* orange */
  background: #F37A22;
  border: solid 0px #F37A22;
}
.smrna-pi{
  /* red */
  background: #A94544;
  border: solid 0px #A94544;
}
.smrna-other{
  /* gray */
  background: #646464;
  border: solid 0px #646464;
}
.multimapped-read{
  background: transparent;
  border-width: 1px;
}
