/*
 * Styles for small RNA plugin
 */

tr#select21 img.dijitCheckedMenuItemIcon{
    background-image: url("../img/checkmark-21.png")
}

tr#select22 img.dijitCheckedMenuItemIcon{
    background-image: url("../img/checkmark-22.png")
}

tr#select23 img.dijitCheckedMenuItemIcon{
    background-image: url("../img/checkmark-23.png")
}

tr#select24 img.dijitCheckedMenuItemIcon{
    background-image: url("../img/checkmark-24.png")
}

tr#selectpi img.dijitCheckedMenuItemIcon{
    background-image: url("../img/checkmark-pi.png")
}

tr#selectother img.dijitCheckedMenuItemIcon{
    background-image: url("../img/checkmark-other.png")
}